{{- define "main" }}
  {{- $title := .Title -}}
  {{- $pages := .Pages -}}
  {{- $flex := "" -}}
  {{- $summary := false -}}
  {{- if .IsHome }}
    {{- $title = site.Title -}}
    {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{- $flex = "flex-column" -}}
    {{- $summary = true -}}
  {{- end }}
  {{- $paginator := .Paginate $pages }}

<md-list>
  <h1>{{ $title }}</h1>
  {{ if .IsHome -}}
    <h3>{{ site.Params.description }}</h3>
  {{- end }}


    {{- range $paginator.Pages }}
         <md-list-item type="link" href="{{ .Permalink | relURL }}">
          <time class="metadata" datetime="{{ .Date }}">
            {{- .Date | time.Format (default "2006/01/02" site.Params.DateFormat) -}}
          </time>
          <div slot="headline"> {{- .Title -}} </div>
          <div slot="supporting-text"> {{ if $summary }}{{ .Summary }}{{ end }} </div>
         </md-list-item>
    {{- end }}
</md-list>
{{ $paginator := .Paginator }}
{{ if gt $paginator.TotalPages 1 }}
<nav class="pagination-mwc flex-row flex-space-evenly" style="margin-top: 20px;">
  <md-icon-button href="{{ $paginator.First.URL }}" {{ if not $paginator.HasPrev }}disabled{{ end }}>
    <md-icon>first_page</md-icon>
  </md-icon-button>

  <md-icon-button href="{{ if $paginator.HasPrev }}{{ $paginator.Prev.URL }}{{ end }}" {{ if not $paginator.HasPrev }}disabled{{ end }}>
    <md-icon>navigate_before</md-icon>
  </md-icon-button>

  {{ range $paginator.Pagers }}
    {{ if eq . $paginator }}
      <md-filled-button>{{ .PageNumber }}</md-filled-button>
    {{ else }}
      <md-text-button href="{{ .URL }}">{{ .PageNumber }}</md-text-button>
    {{ end }}
  {{ end }}

  <md-icon-button href="{{ if $paginator.HasNext }}{{ $paginator.Next.URL }}{{ end }}" {{ if not $paginator.HasNext }}disabled{{ end }}>
    <md-icon>navigate_next</md-icon>
  </md-icon-button>

  <md-icon-button href="{{ $paginator.Last.URL }}" {{ if not $paginator.HasNext }}disabled{{ end }}>
    <md-icon>last_page</md-icon>
  </md-icon-button>
</nav>
{{ end }}

{{- end }}
