{{- define "main" }}
  <h1>{{ .Title }}</h1>

  {{- if not .Date.IsZero }}
    <div class="metadata">
      Date:
      {{ .Date | time.Format (default "2006/01/02" site.Params.DateFormat) }}
    </div>
  {{- end }}

  {{- if .Params.tags }}
    <div class="metadata">
      Tags:
      {{- range ($.GetTerms "tags") }}
        <md-filled-tonal-button href="{{ .Permalink | relURL }}">
          <md-icon>tag</md-icon>
          {{ .LinkTitle }}
        </md-filled-tonal-button>
      {{- end }}
    </div>
  {{- end }}

  {{ .Content }}
{{- end }}
