<header class="header">
  <nav class="flex-row flex-space-between no-decoration">
    <div class="header-logo">
      <a href="/">{{ site.Title }}</a>
    </div>
    <div class="header-menu">
      {{- range site.Menus.main }}
        {{- if .Params.icon }}
          <md-icon-button href="{{ .URL }}" aria-label="{{ .Name }}">
            <md-icon>{{ .Params.icon }}</md-icon>
          </md-icon-button>
        {{- else }}
          <md-text-button href="{{ .URL }}">{{ .Name }}</md-text-button>
        {{- end }}
      {{- end }}
    </div>
  </nav>
  <md-linear-progress id="reading-progress" value="0" style="width: 100%; --md-linear-progress-active-indicator-height: 4px;"></md-linear-progress>
</header>
